<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue lesson 1</title>
</head>

<body>
    <div id="app">
        {{greetings}} <br>

        <input placeholder="Enter email" type="email" v-model="email"><br>
        <input placeholder="Password" type="password" v-model="password"><br>
        <button v-if="!isLoggedin" v-on:click="toggleButton(email,password)">Sign in</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data () {
                return {
                    greetings: 'Welcome to Vue',
                    isLoggedin: false,
                    email: '',
                    password: ''
                }
            },methods:{
                toggleButton(email,password){
                    console.log(email + password +'!!!')
                }
            }
        })

        app.mount('#app')
    </script>

</body>

</html>